<<<<<<< HEAD
.wrapper {
    float: left;
}

.AcardLeft{
    width: 250px ;
    height: 600px ;
=======
.wrapper {
    float: left;
}

.AcardLeft{
    width: 250px ;
    height: 600px ;
>>>>>>> master
}