<<<<<<< HEAD
.wrapper {

    float: left;

}

.AcardLeft {
    width: 250px;
    height: 800px;
=======
.wrapper {

    float: left;

}

.AcardLeft{
    width: 250px ;
    height: 800px ;
>>>>>>> 4c7cf1752c48124e48a5fb61c6fefdbbb8566c51
}