canvas {
    width: 750px;
    height: 750px;


}
.chart{

}

.buttonToolbar {

}

.buttonGroupBottom {

}

.buttonGroupTop {

}

.wrapper {
    float: right;
    padding-right: 5px;
    margin-right: 40px;
}
