<<<<<<< HEAD

.AContentPane-wrapper {
    display: inline-block;
    vertical-align: top;
}

.card {


}

.chart {

=======

.AContentPane-wrapper {
    display: inline-block;
    vertical-align: top;
}

.card {


}

.chart {

>>>>>>> master
}